// BEGIN POST STANDART
section.post.post--standart
  .row
    each post, i in locals.data.posts
      if i < 3
        .post__item(class='post__item--' + i)
          a.post__preview(class='post__preview--' + i, href='blog_details.html')
            figure.post__figure(class='post__figure--' + i)
              img.post__preview-img(src='#{path.media}/post/' + post.picture, alt='')
          .post__details(class='post__details--' + i)
            time.post__time(datetime="2016") #{post.time}
            h3.post__name
              a(href='blog_details.html') #{post.name}
            .post__intro
              p #{post.intro}
            a.btn--link.post__more(href='blog_details.html') Read more
// END POST STANDART
