// BEGIN ABOUT SIMPLE
.widget__title About our Church
.about.about--simple
  .about__details
    p WeBelieve has worked for nearly seven decades with one goal: building a world where there is enough for all. We affirm the power of individuals and communities to take ownership of their future. We meet them right where they are, helping them create solutions they can maintain – and build on.

    a.btn--link.about__more(href='about.html') Read more
// END ABOUT SIMPLE
