ul.list
  li.list__item
   a.list__link Church Home (15)
  li.list__item
    a.list__link Social Events (7)
  li.list__item
    a.list__link Celebrations (3)
  li.list__item
    a.list__link Fests (5)
  li.list__item
    a.list__link Meetings (26)
  li.list__item
    a.list__link Prayers (19)
  li.list__item
    a.list__link Seminars (17)
