nav.cloud-tags
  a.btn--flat-small Church
  a.btn--flat-small Love
  a.btn--flat-small Celebrations
  a.btn--flat-small Seminars
  a.btn--flat-small Meetings
  a.btn--flat-small Faith
  a.btn--flat-small Peace
  a.btn--flat-small Prayers
  a.btn--flat-small Forgiveness
