// BEGIN topbar
.topbar.topbar--v6.js-topbar
  .container
    .topbar__row
      a.header__logo.header__logo--v6(href='index.html')
        svg.header__logo-svg
          use(xlink:href='#icon-logo')
      button.header__menu.header__menu--v6.header__menu--mob.js-menu-btn
        svg.header__menu-svg
          use(xlink:href='#icon-menu')
      +nav('v6')

// END topbar