// BEGIN topbar
.topbar.js-topbar
  .container
    .topbar__row
      button.header__menu.header__menu--mob.js-menu-btn
        svg.header__menu-svg
          use(xlink:href='#icon-menu')
      +nav('v1')
      a.btn--flat-rounded.header__donate.header__donate--v1(href='donate.html') Donate
// END topbar
