// BEGIN topbar
.topbar.topbar--v2.js-topbar
  .container
    .topbar__row
      .toolbar__search.toolbar__search--v2.js-toolbar-search
        input.form-control(type='text', placeholder='')
        button.toolbar__search-btn.toolbar__search-btn--v2.js-header-search-btn(type='button')

      a.btn--flat-rounded.header__donate.header__donate--v2(href='donate.html') Donate

      +toolbar(2)


// END topbar