+widget(null, 'card details')
  .sermon.sermon--details
    .widget__header
      time.sermon__time(datetime="2016") Friday, August 25, 2015
      .sermon__views 1545
    .widget__header-title
      h2.widget__title Don’t miss out on Gateway’s new series, Jesus, as Pastor Robert  unpacks and explains who Jesus was, is and will be.
    .sermon__speakers Speakers - #[a John Stevenson], #[a Michael Tompson], #[a Larisa Woods]

    .widget__preview
      .tab.tab--media.js-tab
        ul.tab__nav(role='tablist')
          li.tab__item.active(role='presentation')
            a.tab__link(href='#media-video', aria-controls='media-video', role='tab', data-toggle='tab')
              svg.tab__svg
                use(xlink:href='#icon-video')
              span.tab__title Watch Sermon Video
          li.tab__item(role='presentation')
            a.tab__link(href='#media-audio', aria-controls='media-audio', role='tab', data-toggle='tab')
              svg.tab__svg
                use(xlink:href='#icon-audio')
              span.tab__title Listen Sermon Audio

          li.tab__item
            a.tab__link(href='http://codefactory47.com/public/webelieve/media/Psalms_023.mp3', target='_blank')
              svg.tab__svg
                use(xlink:href='#icon-speaker')
              span.tab__title Download Sermon Audio

          li.tab__item
            a.tab__link(href='http://codefactory47.com/public/webelieve/media/notes.pdf', target='_blank')
              svg.tab__svg
                use(xlink:href='#icon-file')
              span.tab__title Download Sermon PDF
          li.tab__item.tab__item--social
            a.tab__youtube Watch on YouTube
            a.tab__vimeo Watch on Vimeo
            a.tab__soundcloud Listen on SoundCloud
          li
            button.tab__expander.js-tab-expander

        .tab-content
          #media-video.tab-pane.active(role='tabpanel')
            .plyr
              video(poster="http://codefactory47.com/public/webelieve/media/catoliccover.jpg" controls="")
                source(src="http://codefactory47.com/public/webelieve/media/video-1.mp4" type="video/mp4")
                source(src="http://codefactory47.com/public/webelieve/media/video-1.webm" type="video/webm")
          #media-audio.tab-pane(role='tabpanel')
            .plyr
              audio(controls crossorigin)
                source(src="http://codefactory47.com/public/webelieve/media/Psalms_023.mp3" type="audio/mp3")

    .widget__description
      p Highlands Growth Track is designed to help you become a fully-devoted follower of Jesus Christ. From the initial decision to find out more about the vision of Church of the Highlands, to a fulfilling leadership role on our team, we will provide you with a path to experience growth and fulfillment. Join us at our Grants Mill, Auburn, Fultondale, Greystone, Huntsville, Montgomery, Riverchase, Tuscaloosa or Woodlawn campus as we celebrate water baptism. If you are planning to be baptized, please bring a towel and change of clothes. Friends and family are encouraged to attend. Communion, and empowering, in-depth teaching from God’s Word during our First Wednesday worship experience. Trust us—it will be the best part of your week, and you will leave refreshed and ready to take on the rest of your month. Join us for an extended time of powerful worship.
      blockquote Join us at our Grants Mill, Auburn, Fultondale, Greystone, Huntsville, Montgomery, Riverchase, Tuscaloosa or Woodlawn campus as we celebrate water baptism. If you are planning to be baptized, please bring a towel and change of clothes.
      p The Growth Track is comprised of four specifically designed monthly events listed below. Each event helps you take a step towards God’s plan of fulfillment for your life. Ultimately, our goal is to help you connect with a group of people where your life can touch the lives of others. This class will help guide you through the essential beliefs that every believer needs to become a fully devoted follower of Christ. Essentials 201 is held the second Sunday of every month.

    .widget__footer
      nav.widget__tags #[a John Stevenson] / #[a Worship] / #[a Faith] / #[a Love] / #[a Forgiveness] / #[a Hearth]
      .social.social--right
        .social__list
          a.social__item(href='#')
            i.fa.fa-facebook
          a.social__item(href='#')
            i.fa.fa-twitter
          a.social__item(href='#')
            i.fa.fa-google-plus

include ../../chunks/comment