// BEGIN nextevent countcircles
section.nextevent.nextevent--countcircles
  // BEGIN countdown circles
  .countdown.countdown--circles.js-countcircles(data-end-date='2016/05/08')
    input.countdown-days(type='text', value='')
    input.countdown-hours(type='text', value='')
    input.countdown-minutes(type='text', value='')
    input.countdown-seconds(type='text', value='')
    span.countdown__sep
    span.countdown__label Days
    span.countdown__label Hours
    span.countdown__label Minutes
    span.countdown__label Seconds
  // END countdown circles
  .nextevent__details
    h3.nextevent__name
      a(href='event_details.html') Global Legacy South Africa with Chris Anderson.
    time.nextevent__date(datetime="2015") Friday, December 25, 2015
    .nextevent__intro
      p Every mountain top is within reach if you just keep climbing. We affirm the power of individuals and communities to take ownership of their future.  We meet them right where they are, helping them create solutions they can maintain – and build on.
    a.btn--border-brand.nextevent__more(href='event_details.html') More Details
// END nextevent countcircles
