// BEGIN NEXTEVENT COUNTPANEL
section.nextevent.nextevent--countpanel
  // BEGIN COUNTDOWN COUNTIMER
  .countdown.countdown--panel.js-counttimer(data-end-date='2016/05/08')
  // END COUNTDOWN COUNTIMER
  .nextevent__item
    figure.nextevent__preview
      a(href='event_details.html')
        img(src='#{path.media}/events/event-next.jpg', alt='')
    .nextevent__details
      h3.nextevent__name
        a(href='event_details.html') The goal and mission of Young Adults is to impact the young adults and college students in our area with the hope of Jesus Christ.
      time.nextevent__date(datetime="2016") Friday, December 25, 2015
      .nextevent__intro
        p Every mountain top is within reach if you just keep climbing. We affirm the power of individuals and communities to take ownership of their future.  We meet them right where they are, helping them create solutions.
      a.btn--border-brand.nextevent__more(href='event_details.html') More Details
// END NEXTEVENT COUNTPANEL
