// BEGIN NEXTEVENT COUNTTIMER
section.nextevent.nextevent--counttimer
  .nextevent__item
    .nextevent__details
      h2.widget__title Next Upcoming event
      time.nextevent__date(datetime="2016") Friday  |  Dec. 25  |  2015
      h3.nextevent__name
        a(href='event_details.html') The goal and mission of Young Adults is to impact with the hope of Jesus Christ.
      .nextevent__intro
        p Every mountain top is within reach if you just keep climbing. We affirm the power of individuals and communities to take ownership of their future.  We meet them right where they are, helping them create solutions they can maintain – and build on.
      a.btn--link.nextevent__more(href='event_details.html') More Details
    .nextevent__preview
      a(href='event_details.html')
        img.nextevent__preview-img(src='#{path.media}/events/event-next-big.png', alt='')

      .countdown.countdown--timer.js-counttimer(data-end-date='2016/05/08')
// END NEXTEVENT COUNTTIMER
