+widget('Cart totals', 'card')
  section.cart.cart--summary
    table.cart__totals
      tr
        td Subtotal
        td
          strong $224.00
      tr
        td Shipping and Handling
        td
          strong Free Shipping
      tr
        td Total
        td
          strong $224.00

    a.btn--link.cart__link Calculate Shipping
    .clearfix
    a.btn--flat.cart__btn Proceed to checkout