// title

=title-color($color: $title-color)
  color: $color
  a
    color: $color

=footer-title
  color: $title-color
  @media (max-width: $screen-md-max)
    +margin(1.5)

=title($color: $title-color)
  text-transform: uppercase
  text-align: center
  +vr-fz(60, $margin: triple)
  font-family: $font-family-title
  font-weight: 900
  @if $color !=$title-color
    color: $color
  &:after
    content: ' '
    display: block
    width: 55px
    height: 3px
    margin: 25px auto 0
    background: $color
  @media (max-width: $screen-xs-max)
    +vr-fz(30, $margin: normal)
    &:after
      margin-top: 0

=title-big
  +vr-fz(100)
  color: $brand-color
  text-transform: uppercase
  font-weight: 600
  text-align: left
  line-height: 0.85
  position: relative
  top: 0.15em
  &:after
    display: none
  @media (max-width: $screen-md-max)
    +fz(60)
  @media (max-width: $screen-xs-max)
    +fz(40)
  +rtl
    text-align: right

=title-details
  line-height: 1

=title-widget($color: $title-color)
  text-transform: uppercase
  text-align: center
  +vr-fz(52)
  @if $color !=$title-color
    color: $color
  @media (max-width: $screen-xs-max)
    +vr-fz(30, $margin: normal)

// font awesome mixinis
=font-awesome($icon: '', $size: 1em, $color: $default-color)
  font-size: $size
  display: inline-block
  font-family: FontAwesome
  content: $icon
  color: $color

=font-awesome-icon ($icon, $size: 1em, $color: inherit, $after: false)
  @if $after
    &:after
      +font-awesome($icon, $size, $color)
  @else
    &:before
      +font-awesome($icon, $size, $color)

=themify-icon($icon, $size)
  font-family: 'themify'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  font-size: $size
  /* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  content: $icon

=ti-icon($icon, $size: 1em, $after: false, $margin: false)
  @if $after
    &:after
      +themify-icon($icon, $size)
      @if $margin
        margin-left: 0.5em
  @else
    &:before
      +themify-icon($icon, $size)
      @if $margin
        margin-right: 0.5em

=glyphicon($fontSize: 1em, $content: '')
  position: relative
  top: 1px
  display: inline-block
  font-family: 'Glyphicons Halflings'
  font-style: normal
  font-weight: 400
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: $fontSize
  content: $content

// absolute
=absolute($top: auto, $right: auto, $bottom: auto, $left: auto)
  position: absolute
  top: $top
  left: $left
  right: $right
  bottom: $bottom


//  container element
=container($gutter: $grid-gutter-width)
  margin-right: auto
  margin-left: auto
  padding-left: $gutter / 2
  padding-right: $gutter / 2
  +clearfix
  @media (min-width: $screen-xs)
    width: $screen-xs
  @media (min-width: $screen-sm-min)
    width: $container-sm
  @media (min-width: $screen-md-min)
    width: $container-md
  @media (min-width: $screen-lg-min)
    width: $container-lg

//  container element set width
=container-width($sm: 12, $md: 12, $lg: 12, $gutter: $grid-gutter-width)
  +clearfix
  @media (min-width: $screen-xs-max)
    width: $container-sm / 12 * $sm + $gutter
  @media (min-width: $screen-sm-min)
    width: $container-sm / 12 * $sm + $gutter
  @media (min-width: $screen-md-min)
    width: $container-md / 12 * $md + $gutter
  @media (min-width: $screen-lg-min)
    width: $container-lg / 12 * $lg - $gutter

=circle($size)
  width: $size
  height: $size
  border-radius: $size
  vertical-align: middle
  line-height: $size
  text-align: center

=rounded($size)
  width: $size
  height: $size
  border-radius: $size
  vertical-align: middle
  line-height: $size - 4px
  text-align: center
  overflow: hidden
  img
    width: 100%

=button-circle($size)
  +circle($size)
  cursor: pointer
  transition: 0.3s
  border: 2px solid transparent
  border-radius: $size
  position: relative
  z-index: 5
  background: #fff
  &:hover
    border: 2px solid $brand-color
  .open &
    border: 2px solid $brand-color
    border-radius: $size $size 0 0
    border-bottom: none
    height: $size + 3px

=dropdown-menu
  position: absolute
  left: 0
  top: 60px
  opacity: 0
  height: 0
  margin: 0
  padding: 0
  overflow: hidden
  cursor: default
  display: block
  pointer-events: none
  -webkit-backface-visibility: hidden
  backface-visibility: hidden
  transition: 0.3s
  transform: translate3d(0, -3px, 0)
  box-shadow: none
  border: none
  .nav__item.opened > &,
  .is-selected > &,
  .open &
    opacity: 1
    height: auto
    overflow: visible
    pointer-events: auto
    transform: translate3d(0, 0, 0)

=border-separator($color: $border-color)
  position: relative
  &:before
    +lh-fix(24)
    position: absolute
    bottom: 0
    content: ' '
    display: block
    left: 0
    border-right: 1px solid $color

=corner
  position: relative
  &:before
    width: 10px
    height: 10px
    position: absolute
    background: $gray-bg-color
    bottom: -5px
    transform: rotate(-45deg)
    content: ""
    display: block
    left: 20px

=outline($color: $border-color)
  position: relative
  border: 2px solid $color
  border-radius: 5px
  padding: 0 15px
  @media (max-width: $screen-xs-max)
    padding: 0 5px

=border-bottom($color: $gray-color)
  border-bottom: 1px solid $color
  //margin-top: -1px
  &:last-of-type
    border-bottom: none

=ul($inline: false)
  margin: 0
  padding: 0
  list-style: none
  @if $inline
    li
      display: inline-block

=btn
  padding: 0
  background: none
  border: none
  outline: none

=hide-overflow ($rows: 1, $strict: false)
  @if $strict
    height: $rows * 3rem - 0.1rem
  @else
    max-height: $rows * 3rem - 0.1rem

  overflow: hidden
  position: relative
  &:after
    position: absolute
    display: block
    content: ' '
    height: 3rem
    bottom: 0
    right: 0
    width: 20%
    background: linear-gradient(to right, rgba(#fff, 0.1) 0%, #fff 50%)
    +rtl
      right: auto
      left: 0
      background: linear-gradient(to right, #fff 0%, rgba(#fff, 0.1) 50%)
  @media (max-width: $screen-md-max)
    max-height: $rows * 1.5rem + 0.5rem
    &:after
      height: 1.5rem
=rtl
  +when(rtl, true)
    @content