// BEGIN HEADER
header.header.header--v2
  .container
    .header__row
      a.header__logo(href='index.html')
        svg.header__logo-svg
          use(xlink:href='#icon-logo')
      +nav('v2')
      button.header__menu.header__menu--mob.js-menu-btn
        svg.header__menu-svg
          use(xlink:href='#icon-menu')
// END HEADER