// BEGIN SUBSCRIBE
.subscribe
  h4.subscribe__title Our Newsletter
  .subscribe__form
    form.form.form--subscribe.js-form-subscribe(action='#')
      .form-group
        label.control-label Your E-mail
        input.form-control(type='email', required)
      button.form__submit(type='submit') Send

// END SUBSCRIBE
