// BEGIN EVENT SPLIT
section.event.event--split.js-event(data-modifier='split')
  each event, i in locals.data.events
    if i < 3
      .event__item.js-event-item
        .flipper.flipper--event-split
          .flipper__container
            .flipper__front
              a.event__preview(href='event_details.html')
                img.event__preview-img(src='#{path.media}/events/390x290/' + event.picture, alt='')
              .event__details
                time.event__time(datetime="2016")
                  | Fri. 11.00 am - Sun. 8.00 pm  |  Apr. 09  |  2016
                h3.event__name
                  a(href='event_details.html')= event.name
            .flipper__back
              .event__back
                .event__form.js-form
                .event__map.js-map
        .event__actions
          a.btn--border-brand.event__register(href='event_details.html') Register
          +event__links
// END EVENT SPLIT
