extends blog_details
block config
  - var bodyClass = 'sidebar-hide';
  - var page = 'blog_header_6';
  - var pageTitle = 'Our blog';
  - var mainClass = 'main--subpage main--blog';

block header
  include partials/layout/headers/header--v6
  include partials/layout/topbar/topbar--v6