extends blog_details
block config
  - var bodyClass = 'sidebar-hide';
  - var page = 'blog_details--full';
  - var pageTitle = 'Our blog';
  - var sidebarTitle = 'Blog';
  - var mainClass = 'main--subpage main--blog';