extends blog_details
block config
  - var bodyClass = 'sidebar-hide';
  - var page = 'blog_header_4';
  - var pageTitle = 'Our blog';
  - var mainClass = 'main--subpage main--blog';

block header
  include partials/layout/headers/header--v4
  +nav('v3 nav--v4')