extends causes_grid
block config
  - var bodyClass = 'sidebar-left';
  - var page = 'causes_grid--left';
  - var pageTitle = 'Our causes';
  - var sidebarTitle = 'Causes';
  - var mainClass = 'main--subpage main--causes';