extends cause_details
block config
  - var bodyClass = 'sidebar-left';
  - var page = 'cause_details--left';
  - var pageTitle = 'Our causes';
  - var sidebarTitle = 'Causes';
  - var mainClass = 'main--subpage main--causes';