extends causes_list
block config
  - var bodyClass = 'sidebar-hide';
  - var page = 'causes_list--full';
  - var pageTitle = 'Our causes';
  - var sidebarTitle = 'Causes';
  - var mainClass = 'main--subpage main--causes';