extends partials/layout/_subpage
block config
  - var bodyClass = '';
  - var page = 'community';
  - var pageTitle = 'Our community';
  - var mainClass = 'main--subpage main--community';

block content
  include ./partials/widgets/member/member--list