extends community_member
block config
  - var bodyClass = 'sidebar-hide';
  - var page = 'community_member--full';
  - var pageTitle = 'Our community';
  - var mainClass = 'main--subpage main--community';