extends community_member
block config
  - var bodyClass = 'sidebar-left';
  - var page = 'community_member--left';
  - var pageTitle = 'Our community';
  - var mainClass = 'main--subpage main--community';