extends event_details
block config
  - var bodyClass = 'sidebar-left';
  - var page = 'event_details--left';
  - var pageTitle = 'Our events';
  - var sidebarTitle = 'Event';
  - var mainClass = 'main--subpage main--events';