extends events_grid
block config
  - var bodyClass = 'sidebar-hide';
  - var page = 'events_grid--full';
  - var pageTitle = 'Our events';
  - var sidebarTitle = 'Event';
  - var mainClass = 'main--subpage main--events';