extends event_details
block config
  - var bodyClass = 'sidebar-hide';
  - var page = 'event_details--full';
  - var pageTitle = 'Our events';
  - var sidebarTitle = 'Event';
  - var mainClass = 'main--subpage main--events';