extends events_list
block config
  - var bodyClass = 'sidebar-left';
  - var page = 'events_list--left';
  - var pageTitle = 'Our events';
  - var sidebarTitle = 'Event';
  - var mainClass = 'main--subpage main--events';