extends partials/layout/_subpage
block config
  - var bodyClass = 'sidebar-hide';
  - var page = 'feature_typography';
  - var pageTitle = 'Typography';
  - var mainClass = 'main--subpage main--default';

block content
  +widget('Vertical rhythm', 'card')
    .row
      .col-md-6
        h1 H1 heading
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs. Paulina Eppes, born a slave in 1848. Her father, too, was a slave, who served as the church’s sexton most of his adult life. When he died in 1876, he was the first black man to be buried in the church’s cemetery.
        h3 H3 heading
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs. Paulina Eppes, born a slave in 1848.
        h5 H5 heading
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs. Paulina Eppes, born a slave in 1848. Her father, too, was a slave,

      .col-md-6
        h2 H2 heading
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs.

        h4 H4 heading
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs. Paulina Eppes, born a slave in 1848. Her father, too, was a slave, who served as the church’s sexton most of his adult life.

        h6 H6 heading
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving.
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving.
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving.

    h2 List styles
    .row
      .col-xs-6.col-lg-3
        ul.ul.ul--default
          li
            | Wireless Internet
          li
            | Kitchen
          li
            | Internet
          li
            | Air Conditioning
          li
            | Heating
          li
            | Smoking Allowed
          li
            | Wheelchair Accessible
          li
            | Washer
          li
            | Dryer
          li
            | TV

      .col-xs-6.col-lg-3
        ul.ul.ul--disk
          li
            | Wireless Internet
          li
            | Kitchen
          li
            | Internet
          li
            | Air Conditioning
          li
            | Heating
          li
            | Smoking Allowed
          li
            | Wheelchair Accessible
          li
            | Washer
          li
            | Dryer
          li
            | TV

      .col-xs-6.col-lg-3
        ul.ul.ul--check
          li
            | Wireless Internet
          li
            | Kitchen
          li
            | Internet
          li
            | Air Conditioning
          li
            | Heating
          li
            | Smoking Allowed
          li
            | Wheelchair Accessible
          li
            | Washer
          li
            | Dryer
          li
            | TV
      .col-xs-6.col-lg-3
        ul.ul.ul--rounded-check
          li
            | Wireless Internet
          li
            | Kitchen
          li
            | Internet
          li
            | Air Conditioning
          li
            | Heating
          li
            | Smoking Allowed
          li
            | Wheelchair Accessible
          li
            | Washer
          li
            | Dryer
          li
            | TV
    .row
      .col-xs-6.col-lg-3
        ul.ul.ul--arrow
          li
            | Wireless Internet
          li
            | Kitchen
          li
            | Internet
          li
            | Air Conditioning
          li
            | Heating
          li
            | Smoking Allowed
          li
            | Wheelchair Accessible
          li
            | Washer
          li
            | Dryer
          li
            | TV
      .col-xs-6.col-lg-3
        ul.ul.ul--star
          li
            | Wireless Internet
          li
            | Kitchen
          li
            | Internet
          li
            | Air Conditioning
          li
            | Heating
          li
            | Smoking Allowed
          li
            | Wheelchair Accessible
          li
            | Washer
          li
            | Dryer
          li
            | TV
      .col-xs-6.col-lg-3
        ul.ul.ul--x
          li
            | Wireless Internet
          li
            | Kitchen
          li
            | Internet
          li
            | Air Conditioning
          li
            | Heating
          li
            | Smoking Allowed
          li
            | Wheelchair Accessible
          li
            | Washer
          li
            | Dryer
          li
            | TV
      .col-xs-6.col-lg-3
        ol.ul.ul--ordered
          li
            | Wireless Internet
          li
            | Kitchen
          li
            | Internet
          li
            | Air Conditioning
          li
            | Heating
          li
            | Smoking Allowed
          li
            | Wheelchair Accessible
          li
            | Washer
          li
            | Dryer
          li
            | TV

    h2 Columns
    .row
      .col-md-6
        h3 2 Columns
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs.
      .col-md-6
        h3 2 Columns
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs.
    .row
      .col-md-4
        h3 3 Columns
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs.
      .col-md-4
        h3 3 Columns
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs.
      .col-md-4
        h3 3 Columns
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs.
    .row
      .col-md-3
        h3 4 Columns
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs.
      .col-md-3
        h3 4 Columns
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs.
      .col-md-3
        h3 4 Columns
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs.
      .col-md-3
        h3 4 Columns
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs.
    .row
      .col-md-3
        h3 4 Columns
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs.
      .col-md-3
        h3 4 Columns
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs.
      .col-md-6
        h3 2 Columns
        p
          | The image of God with skin on, the resurrected one, is at work all around us if we will only look. Sometimes it takes a long time, and our awareness often begins to grow in the midst of thanksgiving. As part of its 175th anniversary celebration, St. John’s in City Point Hopewell is re-membering the body by telling the story of Mrs.

    h2 Dividers
    .row
      .col-md-12
        h5 1 px solid, #808080
        hr.hr.hr--solid
    .row
      .col-md-12
        h5 1 px solid, #d0d0d0
        hr.hr.hr--solid-light
    .row
      .col-md-12
        h5 1 px dashed, #222222
        hr.hr.hr--dashed
    .row
      .col-md-12
        h5 1 px dotted, #222222
        hr.hr.hr--dotted

    h3 Blockquotes &amp; Pullquotes
    .content
      h4 Quote Center
      p
        | Foy told us the home was purchased over 40 years ago before hammer even hit nail, and the original buyers were able to specify customizations and upgrades not seen in many other Eichlers. One of their requests was to have the knot-free redwood paneled walls extend into the open-air atrium at the center of the home. The home&rsquo;s stunning cathedral ceilings are beautiful redwood and give the home a warmth not usually associated with Eichlers.
      blockquote
        | &ldquo;When you walk in the front door, all the redwood creates a warmth,&rdquo; said Foy. &ldquo;It feels really homey. It&rsquo;s truly an &lsquo;aha!&rsquo; moment for a lot of people. Of course, the home appeals to Eichler lovers&mdash;but it also appeals to people who weren&rsquo;t prepared to like an Eichler.&rdquo;

      p
        | As with all Eichler homes, the integration of indoor space and outdoors is key. Floor-to-ceiling windows along the back of the house let in plenty of natural light and create a seamless flow. Extensively remodeled inside and out over the past couple of years, the home&rsquo;s current owners thoughtfully and faithfully documented all of the updates they&rsquo;ve made. The home&rsquo;s price tag reflects its Palo Alto address, and Foy told us the market at the epicenter of the Bay Area shows no signs of slowing. While the college city continues its red-hot pace, the agent told us he&rsquo;s also seen renewed interest in Palo Alto Eichlers

