extends partials/layout/_subpage
block config
  - var bodyClass = 'rtl';
  - var page = 'feature_rtl';
  - var pageTitle = 'Our blog';
  - var sidebarTitle = 'Blog';
  - var mainClass = 'main--subpage main--blog';

block content
  - var post = locals.data.posts[0];
  include partials/widgets/post/post-details
