extends index_base
block config
  - var bodyClass = 'scroll-animation';
  - var page = 'index';

block header
  include partials/layout/headers/header--v5
  +nav('v3 nav--v5')

block slider
  +widget
    - var slides = locals.data.slider.slice(0);
    - var slide = slides[4];
    - slides.splice(4, 1);
    - slides.splice(0, 0, slide);
    +slider(5, {
      'data-arrows': 'true',
      'data-asNavFor': 'false',
      'data-dots': 'false',
      'data-fade': 'true',
      'data-speed': '2000'
    }, slides)