extends index_base
block config
  - var bodyClass = 'scroll-animation';
  - var page = 'index_header_3';

block header
  include partials/layout/headers/header--v3
  +nav('v3')

block slider
  +widget
    - var slides = locals.data.slider.slice(0);
    - var slide = slides[2];
    - slides.splice(2, 1);
    - slides.splice(0, 0, slide);
    +slider(3, {'data-arrows': 'true', 'data-asNavFor': 'true', 'data-dots': 'false'}, slides)