extends partials/layout/_base

block config
  - var bodyClass = 'scroll-animation';
  - var page = 'index';

block main
  block slider
    +widget
      +slider(1, {'data-arrows': 'true', 'data-asNavFor': 'true', 'data-dots': 'false', 'data-fade': 'true', 'data-speed': '2000', 'data-autoplay': 'true'}, locals.data.slider)
  +widget('Next Upcoming event', 'landing')
    include partials/widgets/nextevent/nextevent--countcircles
  +widget(null, 'about')
    include partials/widgets/about/about--simple
  +widget('Latest Sermons', 'landing')
    include partials/widgets/sermon/sermon--main
  +widget('Upcoming Events', 'landing white event')
    include partials/widgets/event/event--main
  +widget('Latest from Blog', 'landing')
    include partials/widgets/post/post--main
