extends partials/layout/_subpage
block config
  - var bodyClass = '';
  - var page = 'product';
  - var pageTitle = 'Product';
  - var sidebarTitle = 'Cart';
  - var mainClass = 'main--subpage main--shop';

block content
  include partials/widgets/products/products--details
