extends sermon_details
block config
  - var bodyClass = 'sidebar-hide';
  - var page = 'sermon_details--full';
  - var pageTitle = 'Our sermons';
  - var sidebarTitle = 'Sermon';
  - var mainClass = 'main--subpage main--sermons';