extends sermons_list
block config
  - var bodyClass = 'sidebar-left';
  - var page = 'sermons_list--left';
  - var pageTitle = 'Our sermons';
  - var sidebarTitle = 'Sermon';
  - var mainClass = 'main--subpage main--sermons';