extends partials/layout/_subpage
block config
  - var bodyClass = '';
  - var page = 'sermon_details';
  - var pageTitle = 'Our sermons';
  - var sidebarTitle = 'Sermon';
  - var mainClass = 'main--subpage main--sermons';

block content
  - var sermon = locals.data.sermons[0];
  include partials/widgets/sermon/sermon-details
