extends sermons_grid
block config
  - var bodyClass = 'sidebar-hide';
  - var page = 'sermons_grid--full';
  - var pageTitle = 'Our sermons';
  - var sidebarTitle = 'Sermon';
  - var mainClass = 'main--subpage main--sermons';