extends sermon_details
block config
  - var bodyClass = 'sidebar-left';
  - var page = 'sermon_details--left';
  - var pageTitle = 'Our sermons';
  - var sidebarTitle = 'Sermon';
  - var mainClass = 'main--subpage main--sermons';