extends partials/layout/_subpage
block config
  - var bodyClass = 'sidebar-hide';
  - var page = 'user_login';
  - var pageTitle = 'Authorization';
  - var mainClass = 'main--subpage main--default';

block content
  +widget('Login', 'card')
    .auth--inline
      - formType = 'inline';
      include partials/chunks/auth/login