mixin event__links
  .event__links
    a.event__link-item.js-event-location
      svg.event__link-svg
        use(xlink:href='#icon-location')

    .event__link-item.event__link-item--share
      svg.event__link-svg
        use(xlink:href='#icon-share')
      .social.social--share
        a.social__item(href='#')
          i.fa.fa-facebook
        a.social__item(href='#')
          i.fa.fa-twitter
        a.social__item(href='#')
          i.fa.fa-google-plus
        a.social__item(href='#')
          i.fa.fa-odnoklassniki
    a.event__link-item
      svg.event__link-svg
        use(xlink:href='#icon-phone')
    a.event__link-item.js-event-mail
      svg.event__link-svg
        use(xlink:href='#icon-mail')