mixin numberfield
  // BEGIN numberfield
  .numberfield.js-numberfield
    span.numberfield__label Quantity:
    .numberfield__group
      button.numberfield__btn(type='button', data-type='less') -
      input.numberfield__in(type='text', value='1')
      button.numberfield__btn(type='button', data-type='more') +
  // END numberfield